<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<body>
    <div class="container padding-bottom-3x mb-1">
        <div class="card mb-3">

          <div class="card-body">
            <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
              <div class="step completed">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" class="pe-7s-cart"></i></div>
                </div>
                <h4 class="step-title">Confirmed Order</h4>
              </div>
              <div class="step">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-config" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"></i></div>
                </div>
                <h4 class="step-title">Processing Order</h4>
              </div>
              <div class="step">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-medal"></i></div>
                </div>
                <h4 class="step-title">Quality Check</h4>
              </div>
              <div class="step">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-car"></i></div>
                </div>
                <h4 class="step-title">Product Dispatched</h4>
              </div>
              <div class="step">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-home"></i></div>
                </div>
                <h4 class="step-title">Product Delivered</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse show collapse-horizontal" id="collapse1">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row" >
                            <div class="col-md-3">
                                <img class="avatar" src="assets/images/add-photo.png" onclick="document.getElementById('fileToUpload').click()" style="cursor:pointer" />
                                <input type="file" name="file" #fileInput id="fileToUpload"  style="display: none;">
                                
                            </div>
                            <div class="col-md-8">
                                İsim:
                                <input type="text" style="width: 80%;" >
                            </div>
                           
                        </div>
                            
                        
                    </form>
                   
                </div>
            </div>
        </div>
        <div class="collapse collapse-horizontal" id="collapse2">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row" >
                            <div class="col-md-3">
                                <img class="avatar" src="assets/images/add-photo.png" onclick="document.getElementById('fileToUpload').click()" style="cursor:pointer" />
                                <input type="file" name="file" #fileInput id="fileToUpload"  style="display: none;">
                                
                            </div>
                            <div class="col-md-8">
                                
                                <input type="text" style="width: 80%;" >
                            </div>
                           
                        </div>
                            
                        
                    </form>
                   
                </div>
            </div>
        </div>

       
      </div>
</body>
