<body>
    <div class="container">
        <div class="card">
            <div class="card-title">
                <h3>BMI Calculactor</h3>
            </div>
            <div class="card-body">
                <div class="lblTextGroup">
                    <label class="lbl" >Height(Cm)</label>
                    <input  type="text" [(ngModel)]="inputHeight" [ngModelOptions]="{standalone: true}" 
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    placeholder="Enter your height" onfocus="if(this.value==0)this.value=''" onblur="if(this.value=='')this.value=0" >
                </div>
                <div class="lblTextGroup">
                    <label class="lbl" >Weight(Kg)</label>
                    <input  type="text" [(ngModel)]="inputWeight"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    placeholder="Enter your weight" onfocus="if(this.value==0)this.value=''"  onblur="if(this.value=='')this.value=0">
                </div>
                
                <div class="button-group">
                    <button class="reset-button" type="submit" (click)="reset()">Reset</button>
                    <button class="calculate-button" type="submit" (click)="calculate()">Calculate</button>
                </div>
                <div class="result">
                    <h4 *ngIf="bmiResult!=0">Your BMI: {{bmiResult}}</h4>
                    <h4 *ngIf="bmiResult==0">Your BMI: </h4>
                    <div class="bmi-result">
                        <h4 style="margin-right: 5px;">BMI Result: </h4><h4 [style.color]="textColor" >{{bmiResultText}}</h4>
                    </div>
                    
                </div>
                <div class="bmi-info">
                    <div class="info" >
                        <p>Under weight</p>
                        <p><18.5</p>
                    </div>
                    <div class="info">
                        <p>Normal</p>
                        <p>18.5-25</p>
                    </div>
                    <div class="info">
                        <p>Over weight</p>
                        <p>25-30</p>
                    </div>
                    <div class="info">
                        <p>Obese</p>
                        <p>>30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
