.container{
    max-width: 800;
    margin:10vh auto 0 auto;
    box-shadow: 0px 0px 25px 12px rgba(153,153, 153, 1);
}
.card-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.card{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-width: 2px;
}
.card:hover{
    box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
    cursor:pointer;
    transform: scale(105%);
}
.card-image{
    height: 150px;
    width: 150px;
}
@media only screen and (max-width : 1200px) {
 
    .card-container{
        grid-template-columns: auto auto auto auto;

    }
}
@media only screen and (max-width:768px){
    .card-container{
        grid-template-columns: auto auto auto;

    }
}
@media only screen and (max-width:576px){
    .card-container{
        grid-template-columns: auto auto;
    }
}
