<div class="container">
    <span class="counter"><h4 style="color: #ddd;">Timer: {{counter}} s</h4></span>
    
    <div class="card-container" >
        <div class="card"  [attr.id]="cardImage.id"  (click)="!isCounterStart && startCounter()" *ngFor="let cardImage of cardImages" (click)="!waitForResult && !cardImage.isSelected && clickOnCardEvent(cardImage)">
            <img class="card-image" *ngIf="!cardImage.isSelected" src="../../../assets/pairofphotos/default-image.png"/>
            <img class="card-image" *ngIf="cardImage.isSelected" [src]="cardImage.imageUrl"/>
        </div>
    </div>
</div>