<body>
    <div class="container" >
        <div class="inner-container" >
            <input type="text" [(ngModel)]="keyword" (keyup.enter)="getRecipeByKeyword()" class="text-input" autofocus/>
            <button type="button" class="search-button" (click)="getRecipeByKeyword()"><i class="fas fa-search"></i></button>
            <button type="button" class="shuffle-button" (click)="getRandomRecipe()"><i class="fas fa-random"></i></button>
        </div>
        <div class="row" style="margin-left: 4.5%;">
            <div class="col-md-auto" *ngFor="let meal of meals.meals">
                    <div class="card" routerLink="/recipeDetails/{{meal.idMeal}}">
                        <div class="card-body">
                            <img class="meal-thumb" [src]="meal.strMealThumb"/>

                        </div>
                        <div class="card-footer">{{meal.strMeal}}</div>
                    </div>
            </div>
        </div>
       
    </div>
</body>
