body{
    min-height: 100vh;
    height: auto;
    background: linear-gradient(to right, green, #1f6781);
    box-sizing: border-box;
}
.container{
    padding: 20px;
    
}
.inner-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.text-input{
    width: 400px;
    text-align: center;
    padding: 7px 0px;
    border-radius: 10px 0px 0px 10px;
    border:none;
    
}
.text-input:focus{
    outline: none;
}
.search-button{
    border: none;
    padding:7px 13px;
    border-right: 2px solid rgba(0,0,0,0.2);
    color: #1f6781;
}

.shuffle-button{
    border:none;
    padding: 7px 13px;
    color: #1f6781;
    border-radius: 0px 10px 10px 0px ;
}
.shuffle-button:hover,.search-button:hover{
    color:green;
    transform: scale(105%);
}
.shuffle-button:active,.search-button:active{
    transform: scale(90%);
}
.card{
    margin-bottom: 7%;
    width: 270px;
    min-height: 240px;
    cursor:pointer;
  
}
.card:hover{
    opacity: 0.8;
    transform: rotateY(-360deg) scale(105%);             
    transition: transform 1.5s ;
    
}

.meal-thumb{
    width: 235px;
    border-radius: 10px;
}
.card-footer{
    background-color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size:16px;
    font-weight: 700;
}
.card-footer{
    display: flex;
    justify-content: center;
}

.meal-button{
    border:none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    background-color:#1f6781 ;
}
.meal-button:hover{
    background-color: green;
    transform: scale(105%);
    transition: 1s
}
.row{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:768px){
    .col-md-auto{
        display: flex;
        justify-content: center;
        
    }
}