<body>
    <div class="container" >
        <div class="inner-container" >
            <input type="text" [(ngModel)]="keyword" (keyup.enter)="getRecipeByKeyword()" class="text-input"/>
            <button type="button" class="search-button" (click)="getRecipeByKeyword()"><i class="fas fa-search"></i></button>
        </div>
        <div class="row" >
            <div class="col-md-auto" *ngFor="let meal of meals.meals">
                    <div class="card">
                        <div class="card-header">{{meal.strMeal}}</div>
                        <div class="card-body">
                            <img class="meal-thumb" [src]="meal.strMealThumb"/>

                        </div>
                        <div class="card-footer">
                            <button type="button" class="meal-button">Go to recipe</button>
                        </div>
                    </div>
             
            </div>
        </div>
       
    </div>
    
</body>
