@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*comment*/
* {
  font-family: "Poppins", sans-serif;
}

.app {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  background: linear-gradient(-45deg, #ee7752, #61b429, #1f6781, #23d5ab);
  background-size: 400%;
  animation: gradient 15s ease infinite;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.container .card {
  position: relative;
  width: 305px;
  height: 450px;
  border-radius: 20px;
  margin-top: 6%;
  overflow: hidden;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  transform: rotate(-25deg);
  content: "github.com/yemregunduz";
  position: absolute;
  top: 10%;
  left: 2%;
  font-size: 1em;
  font-weight: 900;
  font-style: italic;
  color: rgba(255, 255, 255, 0.15);
}

.container .card .imgBx {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  font-style: italic;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .description {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .description h5 {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
  margin-right: 10px;
  margin-top: 10px;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(15px);
  transition-delay: 0.3s;
}

.header {
  margin-top: 2%;
  text-align: center;
}

@media screen  and (max-width:1200px){
  .row{
    justify-content: center;
  }
}
